<!DOCTYPE html>
<html>
<head>
    <title>Jeu du Loup Garou - Jour</title>
    <!-- style.css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
    <div class="container">
        <h1><u>Jeu du Loup Garou</u></h1>
        <h2>Phase du Jour</h2>
        <p>Discutez et prenez des décisions en tant que villageois.</p>
        <a href="/vote" class="btn">Voter pour éliminer un joueur</a>
    </div>
</body>
</html>
