<!DOCTYPE html>
<html>
<head>
    <title>Nuit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("/static/images/_NUIT.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 400px;
            margin-top: 120px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Nuit</h1>
        <h2>Les Loups-Garous se réveillent</h2>
        <p>Les Loups-Garous sont :</p>
        <ul>
            {% for player in players %}
                <li>{{ player.nom }}</li>
            {% endfor %}
        </ul>
        <form action="/wolf_voted" method="POST">
            <p>Sélectionnez un joueur à éliminer : </p>
            <select class="liste" name="voted_player">
                {% for player in ortherPlayer %}
                    <option value="{{ player.id }}">{{ player.nom }}</option>
                {% endfor %}
            </select>
            <br><br>
            <input class="btn" type="submit" value="Voter">
        </form>

        <!-- AUDIO -->
        <audio class="audio_nuit" src="{{ url_for('static', filename='music/AmbianceNuit.mp3') }}" loop></audio>
    </div>

    <script>
        var audioPlayer = document.querySelector('.audio_nuit');

            //Lancer automatique de la musique
            audioPlayer.autoplay = true;

            //volume de la musique
            audioPlayer.volume = 0.1;
    </script>
</body>
</html>
