<!DOCTYPE html>
<html>
<head>
    <title>Jeu du Loup Garou - Nuit</title>
    <!-- style.css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
    <div class="container">
        <h1><u>Jeu du Loup Garou - Recap</u></h1>
        <h2>Rôles :</h2>
        <ul>
            <li><strong>Loups-Garous :</strong> {{ roles['loups_garous']|join(', ') }}</li>
            <li><strong>Voyante :</strong> {{ roles['voyante'] }}</li>
            <li><strong>Villageois :</strong> {{ roles['villageois']|join(', ') }}</li>
            {% if 'chasseur' in roles %}
                <li><strong>Chasseur :</strong> {{ roles['chasseur'] }}</li>
            {% endif %}
            {% if 'sorciere' in roles %}
                <li><strong>Sorcière :</strong> {{ roles['sorciere'] }}</li>
            {% endif %}
            {% if 'petite_fille' in roles %}
                <li><strong>Petite Fille :</strong> {{ roles['petite_fille'] }}</li>
            {% endif %}
            {% if 'cupidon' in roles %}
                <li><strong>Cupidon :</strong> {{ roles['cupidon'] }}</li>
            {% endif %}
        </ul>
    </div>
</body>
</html>
